
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="SPS Alumni Search Page" content="">
  <meta name="SPS" content="">
  <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

  <title>SPS Alumni Search Page</title>

  <!-- Material design CSS -->
  <link href="static/mdl/material.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">


  <!-- Custom styles for this template -->
  <link type="text/css" href="static/css/index.css" rel="stylesheet">    
</head>

<body>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"> </div>
    <div class="mdl-cell mdl-cell--8-col"> 
      <span class="mdl-layout-title"><h3>St. Peter's School, Panchgani  </h3></span>
      <span class="mdl-layout-title"><h5>Alumni Database <small>(Beta)</small></h5></span>
      <h3 class="mdl-cell mdl-cell--8-col"></h3>
    </div>
    <div class="mdl-cell mdl-cell--8-col"> 
    </div>
    <div class="mdl-cell mdl-cell--2-col"> </div>
  </div><!-- site-wrapper -->

<div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col"> </div>
    <form role="form" class="" action="/search" method="POST">
      <div class="mdl-cell mdl-cell--12-col" > 

        <h4 class="text-center">Please click the box below to prove that you're not a robot.</h4>

        <br /><br />
        <div class="mdl-cell mdl-cell--12-col">
          <div class="g-recaptcha" data-sitekey="6LcO2_4SAAAAAJQnHHsdrcarIhHGvDEqZCXOHSV8">
          </div>                  
        </div>

        <div class=" col-md-4 col-xs-4 col-xs-offset-4 col-md-offset-4" >
          <br /><br />
          <button type="submit" value="Submit" name="Submit" class="btn btn-primary btn-lg btn-block">Proceed</button>
        </div>

      </div>
    </form> 
      <div class="mdl-cell mdl-cell--3-col"> </div>
</div>
    <!-- Copyright and Footer-->

    <div class="mastfoot">
      <div class="inner">
        <footer>
          The St. Peter's School, Panchgani Old Boys' Association
          <br />
          <small style="color:#999">Built with</small> <span class="glyphicon glyphicon-heart-empty"></span> <small style="color:#999"> by a Druryite </small>
        </footer>
      </div>  
    </div>



  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> 
    <script src="static/mdl/material.min.js"></script> 
    <script src="static/js/googleAnalytics.js"></script> 
  </body>
  </html>
