<html>
	<head>	
		<title>SPS Alumni Search Page</title>
	</head>
	<body>
		<h1> Search Page</h1>

			<form action="/results" method="POST">


              <h2>Search</h2>
              <br><br>
              <h3> Search By Name </h3>
              First Name:
              <input type="text" placeholder="E.g. John " name="firstname" required autofocus>
              Last Name:
              <input type="text" placeholder="E.g. Smith" name="lastname" required autofocus>
              
              <h3> Search by Year </h3>

              <input type="number" placeholder="E.g. 1973" name="year" min="1904" max="2014"> 
              
              <br><br>              
              
              <div>
                <button type="submit" name="Submit" > Submit</button>
              </div>
              
              </div>
            </form> 



	</body>
</html>
