<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SPS Alumni Search Page</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link type="text/css" href="/static/css/search.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">

      <div class="center-block text-center">
        <h1 class="page-header">Lookup the Old Boys' Database</h1>
        <br />


        <form class="form-group" role="form" action="/results" method="POST">
            <p class="lead">Search records by Name</p>

            <div class="text-left col-md-4 col-xs-6 col-md-offset-2">
              <div class="form-group">
                <h4 class="text-center">First Name</h4>              
                <input type="text" class="form-control input-lg" placeholder="E.g. John" name="firstname" autofocus >            
              </div>
            </div>

            <div class="text-left col-md-4 col-xs-6 ">
              <div class="form-group ">     
                <h4 class="text-center">Last Name</h4>         
                <input type="text" class="form-control input-lg" placeholder="Eg. Smith" name="lastname">
              </div>
            </div>

            <br /><br /><br />

            <h3 class="page-header">OR</h3>

            
            <p class="lead">Search records by year of graduation.</p>

            <div class="col-md-2 col-xs-2 col-md-offset-5">
              <div class="form-group ">              
                <input type="number" class="form-control input-lg" placeholder="Eg. 1973" name="year" min="1904" max="2014">
              </div>
            </div>

            <br /><br /><br /><br />

            <button type="submit" name="Submit" class="btn btn-danger btn-lg">Lookup</button>
        </form>
      
      </div>

    </div><!-- /.container -->

    <div class="mastfoot text-center">
      <div class="inner">
        <footer >
          <strong> The St. Peter's School, Panchgani Old Boys' Association</strong>
        </footer>
      </div>  
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>